body {
  background-color: #20232a;
  margin: 0px;
}

.top_header {
  width: 100vw;
  height: 100px;
  background-color: black;
  color: white;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_img {
  margin-left: 45%;
  width: 280px;
  height: 100px;
  background-color: black;
  background-image: url("img/치우.png");
  background-size: 300px 180px;
}

.top_font {
  color: #61daf8;
  font: small-caps bold 48px/1 sans-serif;
}

.content {
  margin: 30px 20vw;
  width: 60vw;
  color: white;
}

table {
  width: 100%;
  border: 2px solid #444444;
  padding: 5px;
}

th {
  border: 2px solid #444444;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  font-size: 32px;
}

td {
  border: 2px solid #444444;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}
